<template>
    <div>
        <div>
            <b-button pill variant="outline-secondary" @click="getNumbersForAddition" size="lg">+</b-button>
            <b-button pill variant="outline-secondary" @click="getNumbersForSubtraction" size="lg">-</b-button>
            <b-button pill variant="outline-secondary" @click="getNumbersForMultiplication" size="lg">*</b-button>
            <b-button pill variant="outline-secondary" @click="getNumbersForDivision" size="lg">/</b-button>
        </div>
        <div class="numbers">
            {{ firstNumber }} {{ mode }} {{ secondNumber }} =
        </div>
    </div>
</template>
<script>
    export default {
        methods: {
            getNumbersForAddition: function(event){
                this.mode = event.target.innerText
                this.firstNumber = this.getRandomNumbers(20)
                this.secondNumber = this.getRandomNumbers(20)
                this.calculateCorrectAnswer()  
            }, 
            getNumbersForSubtraction: function(event) {
                this.mode = event.target.innerText
                let oneNumber = this.getRandomNumbers(20)
                let twoNumber = this.getRandomNumbers(20)
                this.firstNumber = Math.max(oneNumber, twoNumber)
                this.secondNumber = Math.min(oneNumber, twoNumber) 
                this.calculateCorrectAnswer()     
            },
            getNumbersForMultiplication: function(event) {
                this.mode = event.target.innerText
                this.firstNumber = this.getRandomNumbers(5)
                this.secondNumber = this.getRandomNumbers(5)
                this.calculateCorrectAnswer()  
            },
            getNumbersForDivision: function(event) {
                this.mode = event.target.innerText
                let oneNumber = 0;
                let twoNumber = 0;

                while(oneNumber%twoNumber != 0) {
                    oneNumber = this.getRandomNumbers(20)
                    twoNumber = this.getRandomNumbers(10)
                }

                this.firstNumber = oneNumber
                this.secondNumber = twoNumber

                this.calculateCorrectAnswer()  
            },
            getRandomNumbers: function(maxNumber){
                return Math.floor(Math.random() * maxNumber) + 1
            },
            calculateCorrectAnswer: function(){
                switch(this.mode) {
                    case '+' : 
                        this.correctAnswer = this.firstNumber + this.secondNumber
                        break
                    case '-' :
                        this.correctAnswer = this.firstNumber - this.secondNumber
                        break 
                    case '*' :
                        this.correctAnswer = this.firstNumber * this.secondNumber
                        break 
                    case '/' :
                        this.correctAnswer = this.firstNumber / this.secondNumber
                        break 
                }
                this.$emit('calculatedAnswer', this.correctAnswer)
            }

        }, 
        data: function() {
            return {
                firstNumber: 0,
                secondNumber: 0,
                mode: '?',
                correctAnswer: 0
            }
        }
        
    }
</script>
<style>
    .numbers {
        font-size: 2rem;
    }
</style>