<template>
    <div>
        <b-button variant="outline-secondary" size="lg" @click="checkCalculation">Kontrollera</b-button>
    </div>
</template>
<script>
export default {
    methods: {
        checkCalculation: function() {
            this.$emit('checkResult')
        }
    }
}
</script>