<template>
    <div>
        <b-button pill variant="outline-secondary" @click="clear" size="lg">D</b-button>
    </div>
</template>
<script>
export default {
    methods: {
        clear: function() {
            this.$emit('deleteLast')
        }
    }
    
}
</script>