<template>
    <div>
        <b-button pill variant="outline-secondary" @click="numberClicked" size="lg">{{numericValue}}</b-button>
    </div>
</template>
<script>
export default {
    props: ['keyValue'],
    data: function() {
        return {
            numericValue: this.keyValue
        }
    },
    methods: {
        numberClicked: function() {
            this.$emit('keyClicked', this.numericValue)
        }
    }
    
}
</script>
<style>

</style>