<template>
    <div  class="mx-auto" style="width: 50%;">
        <assignment v-on:calculatedAnswer="registerCorrectNumber"></assignment>
        <hr>
        <div class="numbers">{{ integerNumber }}</div>
        <hr>
        {{ displayedMessage }}
        <hr>
        <b-input-group>
            <kalkulator-key :keyValue='1' v-on:keyClicked="clickKey"></kalkulator-key>
            <kalkulator-key :keyValue='2' v-on:keyClicked="clickKey"></kalkulator-key>
            <kalkulator-key :keyValue='3' v-on:keyClicked="clickKey"></kalkulator-key>
        </b-input-group>
        <b-input-group>
            <kalkulator-key :keyValue='4' v-on:keyClicked="clickKey"></kalkulator-key>
            <kalkulator-key :keyValue='5' v-on:keyClicked="clickKey"></kalkulator-key>
            <kalkulator-key :keyValue='6' v-on:keyClicked="clickKey"></kalkulator-key>
        </b-input-group>
        <b-input-group>
            <kalkulator-key :keyValue='7' v-on:keyClicked="clickKey"></kalkulator-key>
            <kalkulator-key :keyValue='8' v-on:keyClicked="clickKey"></kalkulator-key>
            <kalkulator-key :keyValue='9' v-on:keyClicked="clickKey"></kalkulator-key>
        </b-input-group>
        <b-input-group>
            <delete-button v-on:deleteLast="deleteLast"></delete-button>
            <kalkulator-key :keyValue='0' v-on:keyClicked="clickKey"></kalkulator-key>
            <clear-key v-on:clearDisplay="clearDisplay"></clear-key>
        </b-input-group>
            <check-button v-on:checkResult="resultCheck"></check-button>
    </div>
</template>
<script>
import key from './NumericKey.vue'
import clearKey from './ClearButton.vue'
import deleteButton from './DeleteLastButton.vue'
import checkButton from './Checkbutton.vue'
export default {
    data: function() {
        return {
            numbers: [],
            integerNumber: 0,
            correctAnswer: null,
            displayedMessage: 'Knappa in ett tal'
        }
    },
    components: {
        'kalkulator-key': key,
        'clear-key': clearKey,
        'delete-button': deleteButton,
        'check-button' : checkButton
    }, 
    methods: {
        clickKey: function(number) {
            this.numbers.push(number)
            this.makeNumber()
        },
        makeNumber: function() {
            let numberString = ''
            for(let i = 0 ; i < this.numbers.length ; i++ ) {
                numberString += this.numbers[i]
            }
            this.integerNumber = parseInt(numberString, 10)
        },
        clearDisplay: function() {
            this.numbers = []
            this.integerNumber = 0
        }, 
        deleteLast: function() {
            this.numbers.pop()
            this.makeNumber()
        },
        resultCheck: function() {
            if (this.integerNumber === this.correctAnswer) {
                this.clearDisplay()
                this.displayedMessage = 'Rätt - Bra jobbat'
            } else {
                this.displayedMessage = 'Fortsätt försöka'
            }
        },
        registerCorrectNumber: function (correctAnswer) {
            this.correctAnswer = correctAnswer
            this.displayedMessage = 'Knappa in ett tal'
        }
    }
}
</script>
<style>
    .numbers {
        font-size: 3rem;
    }
</style>