<template>
  <div id="app">
    <kalkulator-keyboard></kalkulator-keyboard>   
  </div>
</template>

<script>


export default {
  methods: {
    test: function() {
      alert('Emit works')
    }
  }
}
</script>

<style>

</style>
